.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 22px;
}

.container input {
  position: absolute;
  opacity: 0;
}

.checkmark-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 4px;
  border: 2px solid grey;
}

.container .checkmark-box:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: -8px;
  width: 7px;
  height: 18px;
  border: solid rgba(0, 162, 255, 0.945);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.container input:checked~.checkmark-box:after {
  display: block;
}