.round{
    border-radius: 25px;
    padding: 20px; 
    width: 150px;
    height: 150px;  

}

#line{
    background-color: red;
    width: 184%;
    height: 10px;
    top: 44px;
    right: 42px;
    position: relative;
    transform: rotate(45deg);
}

#box1 {
    position: absolute;
    background: #ffffff;
    border: 5px solid #808080;
}
#box2 {
    background: #e67300;  
}
#box3 {
    background: #ff9933;  
}
#box4 {
    background: #ffd700;  
}
#box5 {
    background: #b8b894;  
}
#box6 {
    background: #008000;  
}
#box7 {
    background: #00cc99;  
}
#box8 {
    background: #339966;  
}
#box9 {
    background: #009999;  
}
#box10 {
    background: #99ccff;  
}
#box11 {
    background: #0066cc;  
}
#box12 {
    background: #333399; 
    border: 10px solid #cccccc;  
}
#box13 {
    background: #660066; 
}
#box14 {
    background: #9900cc;  
}
#box15 {
    background: #862d59;  
}
#box16 {
    background: #ff6699;  
}
  
 